<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PengiAuth</title>
    <link rel="stylesheet" href="/static/auth-style.css">
</head>
<body>
    <div class="auth-container">
        <h1>Welcome, Penguin!</h1>
        <p>Already have an account? Sign in</p>
        <form method="POST" action="/login">
            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit" value="Login">Sign In</button>
        </form>
        <div class="toggle">
            Don&#39;t have an account? <a href="{{url_for('register')}}">Sign Up</a>
        </div>
    </div>
    
</body>
</html>